<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<!-- Spring-Security 的配置 -->
	<!-- 注意开启use-expressions.表示开启表达式. -->
	<security:http auto-config="false" use-expressions="true" access-denied-page="/denied">
		<security:intercept-url pattern="/login" access="permitAll" />
		<security:intercept-url pattern="/individual/*" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/enterprise/*" access="hasRole('ROLE_ADMIN')" requires-channel="https" />

		<security:form-login login-processing-url="/j_spring_security_check" login-page="/login" authentication-failure-url="/login?error=true" always-use-default-target="false" />

		<security:logout invalidate-session="true" logout-success-url="/login" logout-url="/logoff" />

		<!-- <security:remember-me key="hc_remember_me_cookie" /> -->
		<security:remember-me key="hc_remember_me_cookie" services-ref="rememberMeServices" />

	</security:http>

	<!-- 指定一个自定义的authentication-manager: PortletService -->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="portletService">
			<!-- <security:password-encoder ref="passwordEncoder" /> -->
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- 对密码进行MD5编码 -->
	<bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder" />

	<!-- 通过 PortletService,Spring会自动的用户的访问级别. 也可以理解成:以后我们和数据库操作就是通过PortletService来进行关联. -->
	<bean id="portletService" class="com.room.escape.portlet.service.impl.PortletServiceImpl" />

	<!-- remember me Configuration start -->
	<bean id="rememberMeServices" class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<property name="userDetailsService" ref="portletService" />
		<property name="key" value="hc_remember_me_cookies" />
		<property name="alwaysRemember" value="false" />
		<property name="tokenValiditySeconds" value="86400" />
		<property name="parameter" value="_spring_security_remember_me" />
	</bean>

	<bean id="rememberMeAuthenticationProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
		<property name="key" value="hc_remember_me_cookies" />
	</bean>
</beans>