@CHARSET "UTF-8";
* {
	padding:0; margin:0;
	word-wrap:break-word; word-break:break-all;
	font-family: "微软雅黑" "Helvetica Neue",Tahoma,Arial,"Hiragino Sans Gb","Microsoft YaHei","文泉驿正黑体",Sans-serif;
	-webkit-font-smoothing: antialiased;
}

.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}
html,body { color:#eee; min-width:980px; cursor: url('../images/cursor.cur'), default; }
body { overflow-x:hidden; background:#000 url('../images/bg.jpg') no-repeat top center; }
a:link,a:visited,a:active,a:hover { text-decoration:none; color:#fff; }
img { border:none; }
input,textarea { outline:none; resize:none; }

::-webkit-scrollbar { width: 8px; height: 5px; background:#222; opacity:0.5; }
::-webkit-scrollbar-thumb { background-color: #bbb; }
::-webkit-scrollbar-thumb:hover { background-color: #ccc; }

.ilb {display:inline-block; *zoom:1; *display:inline;}
.link { text-decoration:underline!important;color:#69c!important; font-weight:bold; cursor:url('../images/handCursor.cur'), pointer; }
.placeholder { color:#999!important; }

.roundInput { width:164px; line-height:22px; height:22px; border-radius:30px; padding:2px 11px; font-size:12px; color:#fff; background:#2f2721; border:1px solid #655; outline:none; }
.roundInput:focus { background:#786a60!important; }
textarea.roundInput { border-radius:2px; }
.roundItem { width:164px; line-height:22px; height:22px; border-radius:30px; padding:2px 11px; font-size:12px; color:#ffd577; background:#4c4038; }

.smallButton,.midButton {
	background:url('../images/signinButton.png'); text-align:center; cursor:url('../images/handCursor.cur'), pointer;
	color: #fff; line-height:30px; height:30px; width:83px; font-size: 14px; 
}
.midButton { background:url('../images/midButton.png'); width:111px;  }

.button {
	background:url('../images/button.png'); text-align:center; cursor:url('../images/handCursor.cur'), pointer;
	color: #fff; line-height:43px; height:43px; width:120px; font-size:18px; 
}
.button:hover { background-position:0 -43px; }

.lightButton {
	background:url('../images/lightButton.png'); text-align:center; cursor:url('../images/handCursor.cur'), pointer;
	color: #111; line-height:33px; height:33px; width:123px; font-size: 13px; 
}
.lightButton.disable { color:#999; cursor:text; }


.formItem { height:38px; line-height:38px; margin-top:5px; }
.leftFormItem { text-align:right; display:inline-block; width:70px; font-size:13px; }
.rightFormItem { display:inline-block; margin-left:10px;}
.rightFormItem input { width:200px;}
.rightFormTip { display:inline-block; margin-left:12px; font-size:13px; padding-left:22px; background:url('../images/tipQst.png') left center no-repeat; }
.rightFormTip.ok { background-image:url('../images/tipOK.png'); }
.rightFormTip.error { background-image:url('../images/tipError.png'); }

#signupForm { margin-right:-30px; }
#signupForm .roundInput { background-color:#594b42; }
#signupForm #agreeInput { width:auto; }
#signupForm #agreeLabel { font-size:13px; cursor:url('../images/handCursor.cur'), pointer; margin-left:5px;}
#signupForm #agreeLabel a { text-decoration:underline;}
#signupCaptchaInput,#passwdCaptchaInput,#changeCaptchaInput,#qpCaptchaInput { width:60px; margin-right:10px; }
#changePhoneBox .leftFormItem { width:100px; }

#leftBar {width:220px; position:fixed; top:0; border-right:1px solid #fff; background:url('../images/leftBg.png'); z-index:33;}

#leftBarShadow { position:absolute; z-index:10; left:0; top:0; width:220px; height:568px; background:url('../images/leftShadow.png'); }


#leftLogo { width:217px; height:108px;}

#leftNav { z-index:12; position:relative; margin-bottom:120px; }
#leftNav div { cursor:url('../images/handCursor.cur'), pointer; border-bottom:1px dashed #fff; padding:0 0 0 20px; height:47px; overflow:hidden; color:#fff }
#leftNav i { background:url('../images/leftNavIcons.png'); vertical-align:middle; width:50px; height:50px; display:inline-block; }
#leftNav #left2Icon { background-position:0 -47px; }
#leftNav #left3Icon { background-position:0 -94px; }
#leftNav #left4Icon { background-position:0 -141px; }
#leftNav #left5Icon { background-position:0 -188px; }
#leftNav span { font-size:18px; vertical-align:middle; display:inline-block; line-height:50px; height:50px; margin:0 30px 0 10px;}
#leftNav b { background:url('../images/leftArrow.png') no-repeat left center; display:inline-block; width:13px; height:47px; vertical-align:middle;}

#leftNav div.sel { background:url('../images/leftNavBg.png') repeat-x; }
#leftNav div.sel span,#leftNav div.highlight span { color:#ffd577; }
#leftNav div.sel #left1Icon, #leftNav div.highlight #left1Icon { background-position:-53px 0; }
#leftNav div.sel #left2Icon, #leftNav div.highlight #left2Icon { background-position:-53px -47px; }
#leftNav div.sel #left3Icon, #leftNav div.highlight #left3Icon { background-position:-53px -94px; }
#leftNav div.sel #left4Icon, #leftNav div.highlight #left4Icon { background-position:-53px -141px; }
#leftNav div.sel #left5Icon, #leftNav div.highlight #left5Icon { background-position:-53px -188px; }
#leftNav span a:hover{ color:#fff;  cursor:url('../images/handCursor.cur'), pointer;}


#leftUser {}
#leftLoginTitle {cursor:url('../images/handCursor.cur'), pointer;}
#leftLoginTitle { background:url('../images/leftSignin.png'); height:40px; color:#fff; text-align:center; font-size:20px;}
#signinNameInput,#signinPassInput { display:block; margin:3px 0 9px 10px;}
#rememberInput { margin:0 8px 10px 4px;vertical-align:top; }
#rememberLabel { font-size:12px; cursor:url('../images/handCursor.cur'), pointer; color:#aaa; vertical-align: central;}
#forgetPwd { font-size:13px; margin-left:7px; }
#leftUser a { margin:10px 10px 10px 5px; font-size:13px; float:left; margin-left:10px;}
#leftWeiboLogin { cursor:url('../images/handCursor.cur'), pointer; padding:6px 33px; background:url('../images/weibo.png') left center no-repeat; }

#leftUserPic { width:42px; height:42px; border-radius:80px; vertical-align:middle; display:inline-block;}
/*2014-3-20 修改*/
#leftUserName { font-size:18px; color:#ffc34f; display:inline-block; text-align:center; width:200px; margin-bottom:10px;}
#leftUserLinkBox { margin:10px 0 20px; }
.leftUserLink { font-size:13px; display:inline-block; color:#ccc; padding:2px 2px 2px 16px; background:url('../images/userSetting.png') left center no-repeat; margin-left:10px;}
/******/

.leftUserLink:hover { background-image:url('../images/userSettingHover.png'); color:#fbbb29; cursor:url('../images/handCursor.cur'), pointer; }
#leftUserLogout { background-image:url('../images/userLogout.png'); margin-left:12px;}
#leftUserLogout:hover { background-image:url('../images/userLogoutHover.png')!important; }

#leftUserLevel { position:relative; margin:10px 0; padding:0 0 0 50px; }
#leftUserLevel img { position:absolute; left:4px; top:0; }
#leftUserLevel p span { color:#ff8a00; }
#leftUserLevelBar div { background-color:#e77e02; height:7px; border-radius:4px; }
#leftUserLevelBar { margin-top:8px; width:130px; height:7px; background:#584c42; border-radius:4px;}

#supCopyImg { border:none; background:#111; width:700px; height:180px; border-radius:3px; margin:8px; box-shadow:0 0 9px rgba(0,0,0,0.4); }

#roomSelBox { position:relative; height:350px; width:720px; margin-right:-50px;  }
#roomSelScrollTab {  overflow-y:auto; overflow-x:hidden; }
#roomSelBox .tabBox { position:absolute; right:-54px; top:-8px;}
#roomSelBox .tabBox div { background:#3b3128; width:33px; text-align:center;
-webkit-transition:background .8s; -moz-transition:background .8s;
line-height:16px; margin-bottom:13px; text-shadow:0 1px 1px #000;
 border-top-right-radius:10px; border-bottom-right-radius:10px; padding:15px 0; cursor:url('../images/handCursor.cur'), pointer; font-size:13px; }
#roomSelBox .tabBox div.sel { background-color:#FF950F; width:38px; box-shadow:0 0 4px #555 inset; }

#roomSelBox span { display:inline-block; width:183px; height:56px; margin:0 10px 10px 0; background:transparent no-repeat; position:relative;
color:#b61f16; font-size:22px; padding:25px 0 25px 40px; font-weight:bold; cursor:url('../images/handCursor.cur'), pointer; line-height:30px;}
#roomSelBox span p { font-weight:normal; font-size:13px; }
#roomSelBox span p.time { font-weight:bold; }
#roomSelBox div.discount { position:absolute; top:4px; right:26px; width:23px; height:33px; background:url('../images/room/popup/discount.png') }
#roomSelTab1,#roomSelTab2,#roomSelTab3 { margin-right:-50px; display:none; width:780px; height: auto; }
#roomSelTab1 { display:block; }

.Ticket{ background:url('../images/bg_tick.png'); width:254px; height:80px; float:left; margin-left:20PX; margin-top:10px; padding:35px; text-align:center;  cursor:url('../images/handCursor.cur'), pointer;}

.Ticket span{ font-size:35px; color:#a61e14;text-shadow:0px 1px 1px #fff; }
.Ticket span p{ color:#fff; font-size:16px; margin-bottom:30px; text-shadow:none;}

#tabBoxer { position:fixed; top:48px; left:298px; z-index:41; width:741px; overflow:hidden; }

#tabHeader { width:3000px; }
#tabHeader span { cursor:url('../images/handCursor.cur'), pointer; display:inline-block; background:url('../images/tab.png') no-repeat; width:120px; height:43px; line-height:43px;
font-size:16px; text-align:center; vertical-align:top; color:#999; }
#tabHeader span.sel { background-image:url('../images/tabSel.png'); height:45px; color:#eee;}
#tabArrow { position:fixed; top:54px; left:1050px; cursor:pointer;
z-index:41; display:none; background:url('../images/userArrow.png') -23px 0; width:23px; height:33px; }
#tabArrow.right { background-position:0 0; }

#tabHeaderPop { display:none; position:fixed; top:103px; left:300px; right:201px; z-index:41;
padding:20px; background:#111; opacity:0.8; border-radius:20px;  }
#tabHeaderPop span { display:inline-block; color:#eee; width:140px; font-size:13px; cursor:pointer; }
#tabHeaderPop span:hover { color:#ffd577; }

#contentBox { 
	position:fixed; top:50px; bottom:60px; left:288px; right:60px; min-width:700px;
	background: #2e2721; color:#fff;
	padding: 22px 28px 0 28px;
	border-radius:3px;
	border:1px solid #543; 
}
#tabBox { z-index:40;position:fixed; top:92px; bottom:60px; left:288px; right:60px;min-width:780px;
	background: #2c251f; color:#fff;
	padding: 22px 28px 0 28px; 
	border-radius:4px; overflow:hidden;
	border:1px solid #39322c; }

#contentTitle { position:relative; z-index:31; }
#contentTitle span { font-size:16px; cursor:url('../images/handCursor.cur'), pointer; padding:9px 3px; margin-right:40px; }
#contentTitle span:hover { color:#f5cc3c; }
#contentTitle span.sel { border-bottom:2px solid #f5cc3c; color:#f5cc3c; }

#storyBox { z-index:30; position:absolute; top:14px; bottom:10px; left:28px; right:12px; overflow:hidden; }
#contentBody { z-index:30; border-top:2px solid #555; padding:2px 0; position:absolute; top:50px; bottom:7px; left:28px; right:21px; overflow:hidden; }
.anchorTitle { font-size:28px; margin:30px 0;}

#findusBaidu { position:absolute; right:9px; top:59px; }
#findusBaidu b { width:22px; height:22px; vertical-align:middle; background:url('../images/findus.png') 0 -66px no-repeat; }
#findusBaidu a { vertical-align:middle; margin-left:9px; }
#findusBaidu a:hover { color:#aaa;}

#findusMap img { width:99%; border-radius:4px; max-width:1000px; }
.findus { margin:18px 0 9px 0;}
.findus b { width:22px; height:22px; vertical-align:top; background:url('../images/findus.png'); }
.findus span { vertical-align:top; margin-left:10px; line-height:22px;}
.findus span a { text-decoration:underline;}

.errorBox img { width:363px; height:153px; }
.errorBox p { width:363px; margin:22px 0; text-align:center; font-size:20px; color:#ddd;  }

#jmpOverlay{position:fixed;display:none;z-index:888;filter:alpha(opacity = 50);background:#000;opacity:.5;left:0;top:0;width:100%;height:100%}#jmpImg{position:fixed;display:none;z-index:889}
.facebox_bdr{position:fixed;border:2px solid #653;z-index:121;cursor:move}#facebox{position:fixed;top:0;left:0;z-index:121}#facebox .popup{position:relative}#facebox .header{padding:8px 22px;background:#222 url('../images/popupHeader.png') repeat-x;color:#fff;border-bottom:1px solid #222;border-top-left-radius:3px;border-top-right-radius:3px;color:#ffc34f;font-size:13px}
#facebox .content{background:#3b3128;color:#fff;padding:20px;opacity:.9;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border:1px solid #432;border-top:1px solid #000}#facebox .close{position:absolute;top:11px;right:12px;cursor:url('../images/handCursor.cur'), pointer;background:url(../images/popupClose.png);width:15px;height:15px}#facebox .close:hover{opacity:.6}#facebox_overlay{position:fixed;top:0;left:0;height:100%;width:100%}.facebox_overlayBG{background:#000;z-index:120}

/*添加的样式*/
.tb_cont {width:50%; min-width:700PX; margin-top:50PX; position:relative; left:300px; top:50px; }
.tb_cont tr td{ padding-bottom:50px;  margin-left:350PX;}
.tb_cont tr td a{cursor:url('../images/handCursor.cur'), pointer;}

/**敬请期待*/
.jqqd{width:277px; height:220px; position:relative; left:580px; bottom:300px; z-index:1}
.text_box{ color:#a8aaa7; font-size:12px; font-family:Arial, Helvetica, sans-serif}

/*背景故事*/
.story p{ color:#c3c3c3; text-indent:2em; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:2}
.images_story{ text-align:center; margin:20px auto; max-width:800px; max-height:500px;}
.images_bg{ text-align:center; margin:20px auto; width:300px;}
.images_bg img{width:300px;height:188px;}

#tabs a{cursor:url('../images/handCursor.cur'), pointer;}
/*找到我们——联系方式*/
#tabs-2 p{ margin-top:10px; margin-bottom:40px;}

/*个人中心的历史订单*/
#orderTable{ background:url('../images/bg_order.png'); width:750px;}
#orderTable tr th{ height:40px; line-height:40px; text-align:center; color:#A61E14; font-weight:bold;text-shadow:0px 1px 1px #ccc;} 
#orderTable tr td{ height:40px; line-height:40px; text-align:center; font-size:16px;} 