/* @override main.css */
/*home page*/
.homePage{
    width: 960px;
    height: 600px;
    align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.leftHomePageStyle{
	float: left;
	height: 600px;
	width: 300px;;
	margin-left: 10px;
}

.navFont{
	font-size: 20px;
	font-weight: bold;
}

.floatLeft{
	float:left;
	margin-top:5px;
}

.centerHomePageStyle{
	float: left;
	width: 320px;
	height: 600px;
	margin-left: 10px;
}

.rightHomePageStyle{
	float: left;
	width: 150px;
	height: 600px;
	margin-left: 60px;
}

.underlineWord{
	width: 250px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	padding-bottom: 10px;
	padding-top: 10px;
}