/* @override main.css */
/*home page*/
.leftHomePageStyle{
	float: left;
	margin-left:400px;
	height:700px;
	width: 250px;;
	margin-top: 100px;
	postition: absolute;
}

.navFont{
	font-size: 20px;
	font-weight: bold;
}

.floatLeft{
	float:left;
	margin-top:5px;
}

.centerHomePageStyle{
	float: left;
	width: 400px;
	height: 700px;
	margin-left: 100px;
	margin-top: 100px;
	postition: absolute;
}

.rightHomePageStyle{
	float: left;
	width: 150px;
	height: 700px;
	margin-left: 100px;
	margin-top: 100px;
	postition: absolute;
}

.underlineWord{
	width: 250px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	padding-bottom: 10px;
	padding-top: 10px;
}

/*login page*/
.login{
	margin-top:150px;
	margin-left:600px;
	height:400px;
	width:600px;
	background-color: white;
}

.label{
	font-size: 50px;
	font-weight: solid;
	color: blue;
	align: center;
	margin-bottom: 10px;
	font-family: "Helvetica Neue", Arial, STHeiti, "Microsoft YaHei",sans-serif;
}
.loginText{
	color: black;
	font-size: 30px;
	font-weight: solid;
	font-family: "Helvetica Neue", Arial, STHeiti, "Microsoft YaHei",sans-serif;
}

.input{
	height: 40px;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.loginBtn{
	height: 35px;
	width: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:20px;
	color: white;
	font-family: "Helvetica Neue", Arial, STHeiti, "Microsoft YaHei",sans-serif;
}

.error{
	color: red;
	padding-left:10px;
}
