/* @override custom css */
nav {
	overflow: hidden
}

nav li {
	list-style: none;
	line-height: 80px;
	float: left;
	padding: 0 6px;
	line-height: 80px;
}

.loginBar {
	float: right;
	margin: -25px 10px 0 0;
}

table {
	border-right: 1px solid;
	border-bottom: 1px solid;
	width: 600px
}

table td {
	border-top: 1px solid;
	border-left: 1px solid;
}

table th {
	border-top: 1px solid;
	border-left: 1px solid;
}