/* @override custom css */
nav {
	overflow: hidden
}

nav li {
	list-style: none;
	line-height: 80px;
	float: left;
	padding: 0 6px;
	line-height: 80px;
}

.tools {
	float: right;
	margin: -25px 10px 0 0;
}