@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD",
		Georgia, serif;
	/* background: #333 url(../img/bg.jpg) repeat top left; */
	background: #333 repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #f0f0f0;
	overflow-y: scroll;
}